body{
	background-color: #000000;
	color:#ffffff;
	font-family: "open_sansregular",sans-serif;
	font-size: 30px;
	margin-left: 1.75em;
	margin-top: 2.5em;
}
nav{
	padding-left: 70px;
	color: #000000;
	
}
img{
	height: 60px;
	width: 60px;
	background-color: #ffffff;
	color:inherit;
	margin-right: 25px;
	
}
h1 {
	font-weight: 500;
	font-size: 3.5em;
	padding-bottom: 1px;
	margin-bottom: 0px;
}
h2{
	font-weight: 400;
	
}
div{
	padding-left: 70px;
}
.intro{
	font-size: 10px;
	background-color: #ffffff;
}
#linkedin{

}
